body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup {
  background: #f1f1f1;
  padding: 20px;
  border-radius: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 35%;
}

button {
  padding: 10px 10px;
  background: #91a0f2;
  color: #fff;
  border: solid 2px white;
  cursor: pointer;
  animation: pulse 1.5s infinite;
  font-size: 0.7rem;
  margin-top: 5px;
  border-radius: 10px;
  margin-right: 30px;
  width: 140px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.grid_popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 10px;
}

.jeg_hedder_birk {
  font-size: 1rem;
}

.velkommen_til {
  font-size: 1rem;
}
@media (min-width: 800px) {
  .popup {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 70px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 60%;
  }

  button {
    padding: 15px 20px;
    background: #91a0f2;
    color: #fff;
    border: solid 2px white;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 50px;
    width: 160px;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .grid_popup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
  }

  .jeg_hedder_birk {
    font-size: 1.7rem;
  }

  .velkommen_til {
    font-size: 1.7rem;
  }
}
