body {
  background-color: #586adf;
}

.object-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between; /* Justerer mellemrummet mellem kolonnerne */
  gap: 20px; /* Afstand mellem kolonnerne */
  max-width: 1200px; /* Valgfri maksimal bredde for to kolonner */
  margin: 0 auto; /* Centrerer kolonnerne på siden */
}

.object {
  box-sizing: border-box;
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center; /* Centrer tekst horisontalt */
  display: flex;
  flex-direction: column; /* Stak indholdet vertikalt */
  align-items: center; /* Centrer indholdet vertikalt */
  border-radius: 20px;
  margin: 30px;
}
img {
  width: 100%;
  border-radius: 20px;
}
@media (min-width: 800px) {
  .object-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  img {
    width: 100%;
    border-radius: 20px;
  }
  .object {
    width: calc(50% - 15px); /* Beregnet bredde for at tage højde for gap */
    box-sizing: border-box;
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center; /* Centrer tekst horisontalt */
    display: flex;
    flex-direction: column; /* Stak indholdet vertikalt */
    align-items: center; /* Centrer indholdet vertikalt */
    border-radius: 20px;
    margin: 30px auto;
    max-width: 25%;
  }
}
a {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px; /* Øg paddingen for mere plads omkring knappen */
  background: #91a0f2;
  color: #fff;
  border: solid 2px white;
  cursor: pointer;
  animation: pulse 1.5s infinite;
  font-size: 0.7rem;
  margin-top: 15px; /* Tilføj mere afstand over knappen */
  text-decoration: none;
  width: fit-content; /* Justér knappens bredde til indholdet */
}

/*********HEADER****************/
.grid_menu_season {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}
#overskrift {
  text-align: center;
  font-size: 4rem;
  margin: 20px;
  color: white;
}
.button {
  padding: 90x;
  background: #91a0f2;
  color: #fff;
  border: solid 2px white;
  cursor: pointer;
  font-size: 0.7rem;
  text-align: center;
}
@media (min-width: 800px) {
  @media (min-width: 800px) {
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  header {
    text-align: center;
  }
  .grid_menu_season {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 30px;
  }
  #overskrift {
    text-align: center;
    font-size: 6rem;
    margin: 30px;
    color: white;
  }
  .button {
    background: #91a0f2;
    color: #fff;
    border: solid 2px white;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
  }
  .button p {
    padding: 0 30px;
    margin: 0;
  }
}
